.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(12,50px);
    grid-gap: 10px;
    margin: auto;
    width: 1200px;
}

    section.grid-item.grid-item-1 {
        grid-column: 1/span3 ;
        height: 30px;
        background-color: midnightblue;
        color: white;
    }

    section.grid-item.grid-item-2 {
        background-image: url('images/tuscany-villas-sant-anna.jpg');
        background-size: cover;
        grid-column: 1/span2;
        height: 400px;
    }

    section.grid-item.grid-item-3 {
        background-image: url('images/Versilia.jpg');
        background-size: cover;
        grid-column: 3;
        height: 400px;
    }

    section.grid-item.grid-item-4 {
        grid-column: 1/span 3;
        height:100px;
        
    }

    /*section.grid-item.grid-item-5 {
        grid-column: 1/span 3;
    }

    section.grid-item.grid-item-6 {
        grid-column: 1/span 3;
    }

    section.grid-item.grid-item-7 {
        grid-column: 1/span 3;
    }*/

    /*section.grid-item.grid-item-8 {
        grid-column: 4/span 3;
    }

    section.grid-item.grid-item-9 {
        grid-column: 7/span 3;
    }

    section.grid-item.grid-item-10 {
        grid-column: 10/span 3;
    }

    section.grid-item.grid-item-11 {
        grid-column: 1/span 2;
    }*/

    /*section.grid-item.grid-item-12 {
        grid-column: 3/span 2;
    }

    section.grid-item.grid-item-13 {
        grid-column: 5/span 2;
    }

    section.grid-item.grid-item-14 {
        grid-column: 7/span 2;
    }*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 75px;
}

li {
    display: inline;
    margin-right: 15px;
    text-align: right;
}

    li a {
        text-decoration: none;
        font-size: large;
        color: white;
    }
.logo {
    text-align: left;
    margin-top: 25%;
    margin-left: 15px;
    font-size: 30px;
}
